
a{
    text-decoration: none;
    color: white;
}

.navbar{
    /* background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px; */
    display: inline-flex;
padding: 9px 33px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 35px;
/* border: 2px solid #4D44B5; */
margin: 3px;

color: var(--main-blue, #4D44B5);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
    
}
.logOut{
    display: flex;
    width: 120px;
    height: 25px;
    padding: 9px 19px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid var(--black-theme, #04103B);
    text-decoration: none;
    color: var(--black-theme, #04103B);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 16px auto;
}
.logOut:hover{
    background: var(--main-blue, #4D44B5);
    color: #FFF;
    transition: 300ms;
}